<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <title>Index</title>
</head>
<body>
<div class="content">
    <h1>{{title}}</h1>
    <div>
        <input type="button" id="buttonTest" onclick="goTest()" value="Test" />
    </div>
    <div>
        <a href="https://github.com/greedlab/node-front-template">
            <img src="/images/GitHub-Mark-64px.png" alt="GitHub node-front-template">
        </a>
    </div>
</div>
<script src = "/javascripts/index.js"></script>
</body>
</html>