<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.min.css"/>
    <link rel="stylesheet" href="/stylesheets/index.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="content">
    <h1>{{name}}</h1>
    <p>id: {{id}}</p>
    <div id="example"></div>
</div>
<script src = "/javascripts/test.jsx"></script>
</body>
</html>